.pbc-container {
    margin: 0px;
    padding: 20px;
    font-family: sans-serif;
    background: #f8f9fa;
}

.pbc-path{
    display: flex;
    align-items: center;
    font-size: large;
}


.pbc-wrapper{
    max-width: 750px;
    margin: auto;
    padding: 16px 32px;
    font-family: 'Segoe UI', sans-serif;
    background: #F7F7F7;
}

.pbc-section {
    background: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 24px;
}
