.ac-containerss {
    padding: 20px;
    font-family: sans-serif;
    background: #f7f7f7;
    margin: auto;
    max-width: auto;
}
.ac-path {
    display: flex;
    align-items: center;
    font-size: large;
    margin-left: 5px;
}

.gray-color {
    color: #828486;
}




 *{
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }


 .ac-containers {
  padding: 20px;
}

.ac-path {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

.gray-color {
  color: gray;
}

.arrow-icon {
  margin-top: 5px;
}

.ac-name {
  font-weight: 500;
}

.invoice-container {
  max-width: 600px;
  margin: auto;
  padding: 50px 60px 40px 70px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.invoice-header {
  text-align: right;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 300;
  letter-spacing:10px;
  font-weight: 400;
}

.sections {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.row-between {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 5px;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-table th,
.invoice-table td {
  padding: 8px;
  text-align:justify;
  justify-content: space-between;
  /* border-bottom: 1px solid #eee; */
}

.total-section {
  margin-top: 20px;
}

.grand-total {
  font-weight : 550;
  font-size: 16px;
  margin-top: 10px;
}

.payment-info {
  margin-top: 30px;
}

.invoice-footer {
  margin-top: 70px;
  margin-bottom: -20px;
  padding-bottom: 0px;
  font-size: 13px;
  text-align: center;
  color: #666;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.action-buttons button {
  padding: 6px 16px;
  border: 1px solid #b0afaf;
  background: #FFFFFF;
  color: #494949;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}
