.dashboard-container {
    padding: 20px;
    font-family: sans-serif;
    background: #f8f9fa;
    margin: 0px;
}

.top-section {
    margin-bottom: 20px;
}


.dashboard-metricss {
    display: flex;
    justify-content: space-between;

    /* gap: 2px; */
}

.overview {
    background: white;
    padding: 20px 20px;

    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
}



.toolbar-titles {
    margin-top: 4px;
    margin-left: 15px;
}

.toolbar-actions-ths {
    display: flex;
    justify-content: space-between;
    /* border-top: 2px solid #E6E6E6; */
}




.toolbar-filter-btn {
    padding: 6px 14px;
    background: #e9ecef;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.toolbar-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.toolbar-action {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* flex-wrap: wrap; */
    margin-right: 20px;
}

.toolbar-actions-sec {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-top: 10px;

}

.btnz {
    padding: 8px 15px;

    border: none;


    cursor: pointer;
}

.btn-primary {
    background: #007bff;
    color: white;
    border: none;
}

.btn-light {
    background-color: white;

}

.icon-btn {
    font-size: 18px;
    background: #f1f3f5;
    /* border: none; */
    border: 2px solid rgb(233, 233, 233);
    background-color: white;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
}

/* ========== TABLE SECTION ========== */



.product-table {
    width: 100%;
    border-collapse: separate;

    border-spacing: 0;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    overflow: hidden;

}


.product-table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.product-table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.product-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.product-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


.product-table thead {
    background-color: #f8f9fa;
}

.product-table th,
.product-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: 500;
}

.product-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 6px;
    object-fit: cover;
}


.status {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.status.complete {
    background-color: #DFFFE0;
    color: #1E4921;

}

.status.due {
    background-color: #E4F3FF;
    color: #1D3C6D;
}



.pagination {
    margin-top: 10px;
    padding-bottom: 9px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 14px;
}

.pagination-boxx {
    padding: 3px 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 36px;
    box-shadow: 1px 1px 4px #888888;

}

.pagination-info {
    gap: 10px;
}

.pagination-arrow {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    padding: 4px;
    border-radius: 4px;
}

.pagination-arrow:disabled {
    color: #ccc;
    cursor: not-allowed;
}